<header>
    <div class="topNavFixed" style="cursor: pointer;">
      <nav class="navbar top-navbar bg-white box-shadow navbar-fixed-top">
        <!-- <div class="container-fluid">
          <div class="row">
           <a href="">
           <span></a>
          </div>
        </div> -->
        <p>
            <span class="cardSpan">
              <span class="icon">
                  <img src="../../assets/images/Icon.svg" height="60px" routerLink="">
              </span>
              <span class="text" routerLink="">TA-RGET</span>
            </span>
          </p>
      </nav>
    </div>
  </header>
  