<!-- <div *ngIf="loading"
     class="spinner-wrapper">
</div>
<img *ngIf="loading"
     class="loader-spin"
     src="../../assets/images/Loading-anim-small.gif" /> -->
<div class="grid">
    <div class="grid-item" (click)="redirectPage('A/r')">
        <div class="grid-card">
            <div class="card_img">
                <a routerLink="/add-remove" routerLinkActive="active">
                    <img class="grid-cardImageIconPath" height="60px" src="../assets/images/icons8-bookmark.svg"
                        alt="Card image cap" /></a>
            </div>
            <div class="card-body">
                <label class="grid-card-title">Add/Remove Users </label>
            </div>
        </div>
    </div>
</div>